html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/assets/Groupss.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(116, 157, 204, 0.75);/* Semi-transparent to show background */
  padding: 15px;
  text-align: center;
  font-size: 24px;
  color: white;
  width: 100%;
}

nav {
  background-color: rgba(116, 157, 204, 0.75); /* Semi-transparent to show background */
  padding: 15px;
  width: 200px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

main {
  display: flex;
  flex-grow: 1;
  margin-left: 200px;
}

.content {
  display: flex;
  justify-content: centre;
  align-items: flex-start;
  width: 100%;
  padding: 50px;
  position: relative; 
}

.card {
  background-color: rgba(95, 93, 85, 0.76); 
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button {
  background-color: #3e5f64;
  color: white;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #344547; /* Slightly darker on hover */
}
