<header>
  <div class="header">
    Your Groups
    <h3>Welcome, {{ username }}!</h3>
  </div>
</header>

<nav>
  <div class="sidebar">
    <button class="logout" (click)="logout()">Log Out</button>
  </div>
</nav>

<main>
  <div class="content">
    <div class="card">
      <h3>Group 1</h3>
      <button (click)="goToGroup1Page()">Join</button>
    </div>
    <div class="card">
      <h3>Group 2</h3>
      <button (click)="goToGroup2Page()">Join</button>
    </div>
    <div class="card">
      <h3>Group 3</h3>
      <button>Request Access</button>
    </div>
  </div>
</main>