body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  header {
    background-color: #6ebae6;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  nav {
    background-color: #b8d0e0;
    padding: 15px;
    width: 200px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    flex-grow: 1;
    margin-left: 200px; 
  }
  
  .content {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    width: 100%;
    padding: 20px; 
  }
  
  button {
    background-color: #4ca3af;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .message-input {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 75%; 
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .message-input input {
    flex: 1;
    padding: 8px;
  }
  